@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-white dark:bg-neutral-900 text-neutral-900 dark:text-neutral-50 font-sans;
  }
}

